:root, :root.light {

    /*--header_clr: #d9ffc8; !*  footer_clr  *!*/
    --header_clr: white; /*  footer_clr  */
    --headerButtonHover_clr: #214B84;
    --dropdown_clr: #f9f9f9;
    --dropdownHover_clr: #dddddd;
    --dropdownFont_clr: black;

    /*--BG_clr: #f0f0f0;*/
    --BG_clr: white; /* better this way */
    --mainContentBlock_clr: white;
    --mainCBlockBorder_clr: gray;

    /* keyboard */
    --keyboardBG_clr: #fafafa;
    --keyboardHoverBG_clr: #eeeeee;
    --absentBG_clr: #cccccc;
    --presentBG_clr: yellow;

    --border_clr: gray;
    --boxShadow_clr: rgba(0,0,0,0.2);

    --inputBG_clr: inherit;
    --Btn_clr: var(--header_clr);
    --input_hover_clr:#f5f5f5;

    --listRecordHover_clr: var(--dropdownHover_clr);

    --text_clr: black;

    --transitionTime: 0.5s;
}

:root.dark {
    --header_clr: #2a2a2a; /*  footer_clr  */
    --headerButtonHover_clr: #202020;
    --dropdown_clr: #030303;
    --dropdownHover_clr: #060606;
    --dropdownFont_clr: white;

    --BG_clr: black;
    --mainContentBlock_clr: #2a2a2a;
    --mainCBlockBorder_clr: gray;

    /* keyboard */
    --keyboardBG_clr: var(--mainContentBlock_clr);
    --keyboardHoverBG_clr: #202020;
    --absentBG_clr: #50505;
    --presentBG_clr: #e0c51e;

    --border_clr: gray;
    --boxShadow_clr: rgba(255, 255, 255, 0.2);

    --inputBG_clr: #202020;
    --Btn_clr: var(--header_clr);
    --input_hover_clr: #2f2f2f;

    --listRecordHover_clr: var(--headerButtonHover_clr);

    --text_clr: white;
}

a.secret {
    color: var(--text_clr);
    text-decoration: none;
}

a.secret.hover_underline:hover {
    text-decoration: underline;
}

h4, h3 {
    margin: 0 0 5px 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    background-color: var(--BG_clr);
}

header {
    border-bottom: 1px solid var(--border_clr);
    background-color: var(--header_clr);
    color: var(--text_clr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

header #theme_toggle {
    align-items: center;
    justify-content: center;
    color: var(--dropdownFont_clr);
    font-size: 2em;
    user-select: none;
}
:root.dark header #theme_toggle #theme_toggle_span {
    padding-right: 3px;
    padding-bottom: 5px;
}

footer {
    border-top: 1px solid var(--border_clr);
    background-color: var(--header_clr);
    color: var(--text_clr);
    display: flex;
    justify-content: center;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 20% 0 20%;
}

.bold {
    font-weight: bold;
}

section.single {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 500px;
    color: var(--text_clr);
    font-size: 1em;
}

#name_form {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text_clr);
    font-size: 1em;
    width: 100%;
    max-width: 350px;
    min-width: 200px;
}

section.single h2 {
    align-self: center;
    font-size: 3em;
}

section input, .modal input {
    color: inherit;
    border: 1px solid var(--border_clr);
    background-color: var(--inputBG_clr);
    font-size: inherit;
    padding: 2px;
}

section input[type='submit'], .modal [type='submit'] {
    padding: 5px;
}

section label {
    font-size: inherit;
}

.buttons {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section input:hover, .modal input:hover {
    background-color: var(--input_hover_clr);
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    row-gap: 0.05em;
    width: 100%;
    max-width: 700px;
}

.keyboard_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-content: stretch;
    column-gap: 0.1em;
    width: 100%;
}
.keyboard_row .keyboard_letter:hover {
    background-color: var(--keyboardHoverBG_clr);
}

.letter {
    user-select: none;
    text-decoration: inherit;
    color: var(--text_clr);
    margin: 3px;
    min-height: 46px;
    padding: 3px;
    font-size: 17px;
    font-weight: 700;
    background-color: var(--keyboardBG_clr);
    border: 1px solid var(--mainCBlockBorder_clr);
    align-self: center;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.letter.example {
    /*width:20px;*/
    /*height: 20px;*/
    align-self: flex-start;
}
.keyboard_row .keyboard_letter {
    border-radius: 0.3em;
    cursor: pointer;
}
.keyboard_row .keyboard_letter.keyboard_large_letter {
    flex: 2 1;
}

.keyboard_row .keyboard_letter.active {
    background-color: var(--keyboardHoverBG_clr);
    transition: background-color 0.1s ease;
}

#board {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    row-gap: 0.05em;
    width: 100%;
    max-width: 350px;
}

#board h3, #board h4 {
    justify-self: flex-start;
    align-self: flex-start;
}

.letter[data-content~='letter'] {
    border-width: 2px;
}

.letter.absent {
    background-color: var(--absentBG_clr);
}

.letter.present {
    background-color: var(--presentBG_clr);
}

.letter.correct {
    background-color: #009600;
}

.board_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-content: stretch;
    column-gap: 0.1em;
    width: 100%;
}

#score {
    max-width: 400px;
}
.flex_end {
    align-self: flex-end;
}
#submit_play_again {
    align-self: flex-end;
}

#score table {
    width: 100%;
    margin: 0 0 10px 0;


    th {
        text-align: left;
        padding: 5px;
        border: 1px solid var(--border_clr);
        background-color: var(--absentBG_clr);
    }

    tbody {
        counter-reset: score_table;
    }

    tr {
        counter-increment: score_table;
        td:first-child::before {
            content: counter(score_table) ". ";
        }

        td {
            min-width: 100px;
            padding: 5px;
            border: 1px solid var(--border_clr);
        }

        &:nth-child(even) {
            background-color: var(--keyboardHoverBG_clr);
        }

        &:nth-child(odd) {
            background-color: var(--keyboardBG_clr);
        }
    }


}

.page_transition_enter {
    opacity: 0;
    transform: translateY(100%);
}

.page_transition_enter_active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--transitionTime) ease, transform var(--transitionTime) ease;
}

.page_transition_exit {
    opacity: 1;
    transform: translateY(0);
}

.page_transition_exit_active {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity var(--transitionTime) ease, transform var(--transitionTime) ease;
}

.modal {
    opacity: 0;
    transform: translateY(100%);
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: var(--BG_clr);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.5em;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px;
    text-align: center;
    color: var(--text_clr);

    ul {
        padding-inline-start: 20px;
    }
}

.modal.active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--transitionTime) ease, transform var(--transitionTime) ease;
    display: block;
}


.text_left {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.modal li {
    text-align: left;
}



@media screen and (max-width: 500px){
    #keyboard .letter {
        height: 36px;
    }

    #board {
        width: 95%;
    }

}

@media screen and (max-height: 700px){
    .letter {
        height: 36px;
    }

    #board {
        width: 95%;
    }

}